{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">T-Levels Statistical Annex</h1>
            <h2 class="govuk-heading-m">Instructions</h2>
        </div>
    </div>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        T-Levels instructions
                    </span>
                    
                </h2>
                <p>The T Level data collected from the October 2020 return will be used to inform your final T Level
                    allocations, Early Adopter Development funding and Specialist Equipment Allocations. The figures
                    provided in your return should reflect your total planned student numbers for the academic year
                    being completed.</p>
                <ul class="govuk-list govuk-list--bullet">
                        <li>If a return is not provided, or a figure is not entered against a T Level you are signed up to
                            deliver this will impact on your allocations and
                            EADF payments.</li>
                        <li> If you enter a zero we will take this as a request to drop the T Level and we will confirm this
                            change with you.</li>
                        <li>Any annexes returned with a yellow incomplete box will be returned for completion so that we can
                            ensure your allocations reflect your
                            planned delivery.</li>
                    </ul>
    
                    <p class="govuk-body">Providers are only required to complete and return by 30 October 2020 the cells
                        highlighted in yellow
                        which have been locked to correspond with the T Levels you have signed up to deliver and should
                        include:
                    </p>
                    <ol class="govuk-list govuk-list--number">
                        <li>T Level planned student numbers (Year 1) for the 2021/22 AY for each of your approved T Level
                            pathways (column G) - informs T Level allocations and EADF payments.</li>
                        <li>T Level planned student numbers (Y1 and Y2) for the 2022/23 AY for each of your approved T Level
                            pathways (column I).</li>
                        <li>T Level planned student numbers (Y1 and Y2) for the 2023/24 AY for each of your approved T Level
                            pathways (column K).</li>
                        <li>T Level indicative student numbers for the 2024/25 AY (Y1 and Y2) for each of your approved T
                            Level
                            pathways (column L) - informs Specialist Equipment Allocations. </li>
                    </ol>
                    <p class="govuk-body">If you wish to extend your T Level delivery in the 2022/23 AY, you can do this by completing the T
                        Level Extension Request tab within this form. This will be subject to approval.</p>
                    <p>The data provided in the October 2020 return is a reporting requirement in return for providers Early
                        Adopter Development Funding.</p>
            </div>
        </div>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Writing well for specialists
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>This is the content for Writing well for specialists.</p>
            </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Know your audience
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>This is the content for Know your audience.</p>
            </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                        How people read
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>This is the content for How people read.</p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">T-Levels Instructions</h3>
            <p>The T Level data collected from the October 2020 return will be used to inform your final T Level
                allocations, Early Adopter Development funding and Specialist Equipment Allocations. The figures
                provided in your return should reflect your total planned student numbers for the academic year
                being completed.</p>
            <ul class="govuk-list govuk-list--bullet">
                    <li>If a return is not provided, or a figure is not entered against a T Level you are signed up to
                        deliver this will impact on your allocations and
                        EADF payments.</li>
                    <li> If you enter a zero we will take this as a request to drop the T Level and we will confirm this
                        change with you.</li>
                    <li>Any annexes returned with a yellow incomplete box will be returned for completion so that we can
                        ensure your allocations reflect your
                        planned delivery.</li>
                </ul>

                <p class="govuk-body">Providers are only required to complete and return by 30 October 2020 the cells
                    highlighted in yellow
                    which have been locked to correspond with the T Levels you have signed up to deliver and should
                    include:
                </p>
                <ol class="govuk-list govuk-list--number">
                    <li>T Level planned student numbers (Year 1) for the 2021/22 AY for each of your approved T Level
                        pathways (column G) - informs T Level allocations and EADF payments.</li>
                    <li>T Level planned student numbers (Y1 and Y2) for the 2022/23 AY for each of your approved T Level
                        pathways (column I).</li>
                    <li>T Level planned student numbers (Y1 and Y2) for the 2023/24 AY for each of your approved T Level
                        pathways (column K).</li>
                    <li>T Level indicative student numbers for the 2024/25 AY (Y1 and Y2) for each of your approved T
                        Level
                        pathways (column L) - informs Specialist Equipment Allocations. </li>
                </ol>
                <p class="govuk-body">If you wish to extend your T Level delivery in the 2022/23 AY, you can do this by completing the T
                    Level Extension Request tab within this form. This will be subject to approval.</p>
                <p>The data provided in the October 2020 return is a reporting requirement in return for providers Early
                    Adopter Development Funding.</p>
        </div>
    </div>
</main>


<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">Transition Programme Instructions</h3>
            <p>The Transition Programme data collected from the October 2020 return will be used to inform your Early
                Adopter Development funding and provider engagement in the delivery of Transition Programme. The figures
                provided in your return should reflect your total planned student numbers for the academic year being
                completed.</p>
            <ul>
                <li> If a return is not provided, or a figure is not entered against a Transition Programme you
                    are signed up to deliver this will impact on your EADF
                    payments.
                </li>
                <li> If you enter a zero we will assume you are NOT delivering this Transition Programme. </li>
                <li>Any annexes returned with a yellow incomplete box will be returned for completion.</li>
            </ul>
            <p>Providers are only required to complete and return by 30 October 2020 the cells highlighted in yellow
                which have been locked to correspond with the T Levels you have signed up to deliver and should include:
            </p>
            <ol>
                <li>Transition programme planned student numbers (Year 1) for the 2021/22 AY aligned to the T Level
                    pathways you are approved to deliver (column G) - informs EADF payments.</li>
                <li>Transition programme planned student numbers (Y1 and Y2) for the 2022/23 AY aligned to the T Level
                    pathways you are approved to deliver (column I) - informs provider engagement.</li>
            </ol>
            <p>If you wish to extend your T Level delivery in the 2022/23 AY, you can do this by completing the T Level
                Extension Request tab within this form. This will be subject to approval.</p>
            <p>The data provided in the October 2020 return is a reporting requirement in return for providers Early
                Adopter Development Funding.</p>
        </div>
    </div>
</main>


<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">Specialisms 21-22 Delivery</h3>
            <p>The Specialisms data collected from the October 2020 return could be used to inform your final T Level
                allocations. The figures provided in your return should reflect your total planned students numbers for
                the 2021/22 academic year and align with the figures entered for T Levels.</p>
            <ul>
                <li>If a return is not provided, or a figure is not entered against a T Level you are signed up to
                    deliver this may impact on your allocations.
                </li>
                <li>If you enter a zero, or field is left blank we will assume you are NOT delivering this Specialism.
                </li>
            </ul>
            <p>Providers are only required to complete and return by 30 October 2020, the cells highlighted in yellow
                for the specialims you plan to offer and which have been locked to correspond with the T Levels you have
                signed up to deliver and should include:
            </p>
            <ol>
                <li>Specialisms planned student numbers (Year 1) for the 2021/22 AY aligned to the T Level pathways you
                    are approved to deliver (column G) - may inform T Level allocations.</li>
                <li>PAUSED Specialisms - If you are interested in delivering any of the paused Specialisms, please
                    highlight this by inserting a 'Yes' in the corresponding specialism
                    (column G) using the dropdown provided. We would urge you to plan for the paused specialisms not to
                    go ahead and will contact you again should they restart for the
                    2021/22 academic year.</li>
            </ol>
            <p>If you wish to extend your T Level delivery in the 2022/23 AY, you can do this by completing the T Level
                Extension Request tab within this form. This will be subject to approval.</p>
            <p>The data provided in the October 2020 return is a reporting requirement in return for providers Early
                Adopter Development Funding.</p>
        </div>
</main>


<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">Specialisms 22-23 Interest</h3>
            <p>Providers are only required to complete and return by 30 October 2020, the cells highlighted in yellow
                (column F) as an indication of the specialisms you may deliver from 2022 onwards along with an
                indicative learner number (Year 1 and Year 2) figure (column G). These specialisms do not need to align
                with the T Levels tab, as are an indication of what you may want to introduce in future years. We will
                collect planned figures for these specialisms in May 2021.</p>
        </div>
    </div>
</main>


<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">T-Level Extension Request 22-23</h3>
            <p>Only to be completed if a provider wants to extend their T Level delivery beyond the T Levels they are
                signed up to deliver in the 2022/23 Academic Year which you confirmed as part of the May 2020
                statistical annex return.</p>
            <p>If the T Level is within a route that the provider is not currently approved to deliver (as published at
                Gov.uk), the request will be reviewed against the T Level eligibility criteria and the providers
                readiness to deliver the additional T Level(s)</p>
            <p>Column I will give you an indication of eligibility against the learner number criteria, but is not a
                final decision</p>
            <p>If the request is supported, the delivery of the T Level will be subject to the provider successfully
                completing the Awarding Body registration and assessment.</p>
            <p>You are also required to enter 'yes' against the pathway you wish to deliver (column F) your planned
                learner (Year 1) figures (column G) for the additional T Levels and corresponding Transition Programme
                (column H) if applicable.</p>
            <p>The information provided as part of this tab will be used to inform future T Level Allocations.</p>
        </div>
    </div>
</main>


<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p>If you have a question in relation to completing this form please submit this to
                Statistical.ANNEXES@education.gov.uk and detail "Oct Stat Annex Return" in the subject header</p>
        </div>
    </div>
</main>
{% endblock %}