{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">T-Levels</h1>
      <h2 class="govuk-heading-m">Pathways</h2>
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><a href="t-levels.html" class="govuk-link"> T-Levels</a></p>
      <p class="govuk-body"><a href="transition-programme.html" class="govuk-link"> Transition Programme</a></p>
      <p class="govuk-body"><a href="specialisms-21-22-delivery.html" class="govuk-link"> Specialisms 21-22 Delivery</a></p>
      <p class="govuk-body"><a href="specialisms-22-23-interest.html" class="govuk-link"> Specialisms 22-23 Interest</a></p>
      <p class="govuk-body"><a href="t-level-extension-request-22-23.html" class="govuk-link"> T-Level Extension Request 22-23</a></p>
    </div>
  </div>
</main>

{% endblock %}