{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">T-Levels</h1>
      <h2 class="govuk-heading-m">Subject routes</h2>
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><a href="digital-route.html" class="govuk-link"> Digital </a></p>
      <p class="govuk-body"><a href="#" class="govuk-link"> Contstruction </a></p>
      <p class="govuk-body"><a href="#" class="govuk-link"> Education & Childcare </a></p>
      <p class="govuk-body"><a href="#" class="govuk-link"> Finance & Accounting </a></p>
      <p class="govuk-body"><a href="#" class="govuk-link"> Business & Administration </a></p>
      <p class="govuk-body"><a href="#" class="govuk-link"> Engineering & Manufacturing </a></p>
    </div>
  </div>
</main>

{% endblock %}
