{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <p id="subject-areas-description">Check the boxes against the T Levels you want to deliver [YEAR]</p>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="subject-areas-description">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Digital route
            </span>
          </h2>
        </div>

        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1">
          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Digital, Production, Design and Development
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Digital Support and Services
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Digital Business Services
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Construction route
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Design, Surveying and Planning for Construction
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Onsite construction
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Building services engineering for construction
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Education and Childcare route
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Education and Childcare
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Health and Science route
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        Health
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        Healthcare science
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        Science
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Finance and Accounting route
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                  aria-labelledby="accordion-default-heading-1">
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          Finance
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          Accountancy
                        </label>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Business and Administration route
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <div class="govuk-form-group">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                            Management and Administration 
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Engineering and Manufacturing route
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                      aria-labelledby="accordion-default-heading-1">
                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              Design and Development for Engineering and Manufacturing
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              Engineering , Manufacturing, Processing and Control
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              Maintenance, Installation and Repair for Engineering and Manufacturing
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
             

  </fieldset>

  <a href="#" button class="govuk-button" data-module="govuk-button">
    Submit
  </button>
  </a>

  {% endblock %}