{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">T-Levels - Digital Route</h1>
  
        </div>
    </div>

    <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UPIN
          </dt>
          <dd class="govuk-summary-list__value">
            105110
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider name
          </dt>
          <dd class="govuk-summary-list__value">
            Sandwell College
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region
          </dt>
          <dd class="govuk-summary-list__value">
            West Midlands
          </dd>
        </div>
      </dl>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Planned learner numbers per subject [MONTH] [YEAR]</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-3">
                    Digital, Production, Design and Development
                </label>
                <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text"></div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-3">
                    Digital Support and Services
                </label>
                <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text"></div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-3">
                    Digital Business Services
                </label>
                <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text"></div>
        </div>
    </div>

    <a href="#ß" class="govuk-button" data-module="govuk-button">
        Continue
        </button>
      </a>

</main>



{% endblock %}