{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
        <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " aria-label="Contents" role="navigation" data-module="track-click">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#t-levels-what-they-are" data-track-options="{&quot;dimension29&quot;:&quot;T Levels: what they are&quot;}" href="#t-levels-what-they-are">T Levels: what they are</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#when-they-will-start" data-track-options="{&quot;dimension29&quot;:&quot;When they will start&quot;}" href="#when-they-will-start">When they will start</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#how-t-levels-will-work-with-other-qualifications" data-track-options="{&quot;dimension29&quot;:&quot;How T Levels will work with other qualifications&quot;}" href="#how-t-levels-will-work-with-other-qualifications">How T Levels will work with other qualifications</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#how-t-levels-have-been-developed" data-track-options="{&quot;dimension29&quot;:&quot;How T Levels have been developed&quot;}" href="#how-t-levels-have-been-developed">How T Levels have been developed</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#structure-of-a-t-level" data-track-options="{&quot;dimension29&quot;:&quot;Structure of a T Level&quot;}" href="#structure-of-a-t-level">Structure of a T Level</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#industry-placements" data-track-options="{&quot;dimension29&quot;:&quot;Industry placements&quot;}" href="#industry-placements">Industry placements</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#grading-and-certification" data-track-options="{&quot;dimension29&quot;:&quot;Grading and certification&quot;}" href="#grading-and-certification">Grading and certification</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#ucas-tariff-points" data-track-options="{&quot;dimension29&quot;:&quot;UCAS tariff points&quot;}" href="#ucas-tariff-points">UCAS tariff points</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="#funding-and-support-for-providers" data-track-options="{&quot;dimension29&quot;:&quot;Funding and support for providers&quot;}" href="#funding-and-support-for-providers">Funding and support for providers</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="#timeline" data-track-options="{&quot;dimension29&quot;:&quot;Timeline&quot;}" href="#timeline">Timeline</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 11" data-track-label="#find-out-more" data-track-options="{&quot;dimension29&quot;:&quot;Find out more&quot;}" href="#find-out-more">Find out more</a>

        </li>
    </ol>
</nav>
      
<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="/assets/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
</p>
<p>
  © Crown copyright 2020
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gov.uk">psi@nationalarchives.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://www.gov.uk/government/publications/introduction-of-t-levels/introduction-of-t-levels
</p>


    </div>
  </div>

  <div class="main-content-container">
    <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    
    
      <div class="govspeak">
<h2 id="t-levels-what-they-are">T Levels: what they are</h2>

<p>T Levels are new courses which follow GCSEs and are equivalent to 3 A levels. These 2-year courses, which launched September 2020, have been developed in collaboration with employers and businesses so that the content meets the needs of industry and prepares students for work, further training or study.</p>

<p>T Levels offer students a mixture of classroom learning and ‘on-the-job’ experience during an industry placement of at least 315 hours (approximately 45 days).</p>

<p>In time, students will be able to take a T Level in the following subject areas:</p>

<ul>
  <li>accounting</li>
  <li>agriculture, land management and production</li>
  <li>animal care and management</li>
  <li>building services engineering for construction (starting September 2021)</li>
  <li>catering</li>
  <li>craft and design</li>
  <li>design and development for engineering and manufacturing</li>
  <li>design, surveying and planning for construction (now available)</li>
  <li>digital business services (starting September 2021)</li>
  <li>digital production, design and development (now available)</li>
  <li>digital support and services (starting September 2021)</li>
  <li>education and childcare (now available)</li>
  <li>finance</li>
  <li>hair, beauty and aesthetics</li>
  <li>health (starting September 2021)</li>
  <li>healthcare science (starting September 2021)</li>
  <li>human resources</li>
  <li>legal</li>
  <li>maintenance, installation and repair for engineering and manufacturing</li>
  <li>management and administration</li>
  <li>engineering, manufacturing, processing and control</li>
  <li>media, broadcast and production</li>
  <li>onsite construction (starting September 2021)</li>
  <li>science (starting September 2021)</li>
</ul>

<h2 id="when-they-will-start">When they will start</h2>

<p>The first 3 T Levels are now available at selected colleges, schools and other providers across England.</p>

<p>A further 7 T Levels will be available in September 2021 with the remaining courses starting in either 2022 or 2023.</p>

<p>We have published a <a href="https://www.gov.uk/government/publications/providers-selected-to-deliver-t-levels" class="govuk-link">list of the providers</a> who are offering T Level courses up to September 2022.</p>

<h2 id="how-t-levels-will-work-with-other-qualifications">How T Levels will work with other qualifications</h2>

<p>T Levels will become one of the main choices for students after GCSE alongside:</p>

<ul>
  <li>apprenticeships for students who wish to learn a specific occupation ‘on the job’</li>
  <li>A levels for students who wish to continue academic education</li>
</ul>

<p>We are currently reviewing post-GCSE qualifications to create a simpler, high-quality system that students, parents and employers will all understand.</p>

<p>T Levels are based on the same standards as apprenticeships, designed by employers and approved by the <a rel="external" href="https://www.instituteforapprenticeships.org/t-levels/" class="govuk-link">Institute for Apprenticeships and Technical Education (<abbr title="Institute for Apprenticeships and Technical Education">the Institute</abbr>)</a>. We expect the total time for a T Level to be around 1,800 hours over the 2 years, including the industry placement. This is a significant increase on most current technical education courses.</p>

<p>This differs from an apprenticeship, which is typically 80% on-the-job and 20% in the classroom and is more suited to those who know what occupation they want to pursue, want to earn a wage and learn at the same time and are ready to enter the workforce at age 16.</p>

<h2 id="how-t-levels-have-been-developed">How T Levels have been developed</h2>

<p>Employers and providers have been working together to develop each T Level, with support from <abbr title="Department for Education">DfE</abbr> and <abbr title="Institute for Apprenticeships and Technical Education">the Institute</abbr>. Groups of employers have defined the skills and requirements for each T Level course by participating in <a href="https://www.gov.uk/government/publications/t-level-panels-membership" class="govuk-link">T Level panels</a>. This ensures that students taking T Levels will develop the technical knowledge and skills required by employers in that industry.</p>

<p>The T Level panels have developed the <a rel="external" href="https://www.instituteforapprenticeships.org/t-levels/" class="govuk-link">content for the qualification</a>, based on the same standards as apprenticeships and these plans are then tested and reviewed with students, education providers and employers.</p>

<p>The technical qualifications for the first 3 T Levels have now been approved by <abbr title="Institute for Apprenticeships and Technical Education">the Institute</abbr> and accredited by Ofqual for teaching from September 2020. These are in:</p>

<ul>
  <li>design, surveying and planning for construction</li>
  <li>digital production, design and development</li>
  <li>education and childcare</li>
</ul>

<h2 id="structure-of-a-t-level">Structure of a T Level</h2>

<p>T Level courses include the following compulsory elements:</p>

<ul>
  <li>a technical qualification, which includes:
    <ul>
      <li>core theory, concepts and skills for an industry area</li>
      <li>specialist skills and knowledge for an occupation or career</li>
    </ul>
  </li>
  <li>an industry placement with an employer</li>
  <li>a minimum standard in maths and English if students have not already achieved them</li>
</ul>

<h2 id="industry-placements">Industry placements</h2>

<p>Every T Level includes an industry placement with an employer focused on developing the practical and technical skills required for the occupation. These will last a minimum of 315 hours (approximately 45 days) but can last longer. Employers can offer <a href="https://www.gov.uk/guidance/industry-placements" class="govuk-link">industry placements</a> as a block, day release or a mix of these, and can discuss sharing part of the placement with another employer if necessary.</p>

<p>Providers will support employers offering industry placements. This will include assistance with the necessary paperwork, a careful planning process and support with designing the industry placement.</p>

<p>The Education and Skills Funding Agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>) and National Apprenticeship Service (part of <abbr title="Education and Skills Funding Agency">ESFA</abbr>) are working with employers and providers on industry placements.</p>

<div class="call-to-action">
<p>Employers interested in finding out more about industry placements can contact 08000 150 600, email <a href="mailto:tlevel.placement@education.gov.uk" class="govuk-link">tlevel.placement@education.gov.uk</a> or visit the <a rel="external" href="https://www.tlevels.gov.uk/employers" class="govuk-link">employer section of the T Levels website</a>.</p>
</div>

<h2 id="grading-and-certification">Grading and certification</h2>

<p>Students who complete their T Level will receive an overall grade of pass, merit, distinction or distinction*. They will get a nationally recognised certificate which will show their overall grade and a breakdown of what they have achieved.</p>

<p>The T Level certificate will include:</p>

<ul>
  <li>an overall grade for the T Level, shown as pass, merit, distinction or distinction*</li>
  <li>a separate grade for the core component, using A* to E</li>
  <li>a separate grade for each occupational specialism, shown as pass, merit or distinction</li>
</ul>

<p>It will also include confirmation that the student has:</p>

<ul>
  <li>met the minimum requirements for maths and English qualifications</li>
  <li>completed the industry placement</li>
  <li>met any additional mandatory requirements</li>
</ul>

<p>A student’s overall T Level grade will be worked out from the grades they achieved on the core component and the occupational specialism(s).</p>

<p>Students who do not pass all elements of their T Level will get a T Level statement of achievement which will show the elements they have completed.</p>

<h2 id="ucas-tariff-points">UCAS tariff points</h2>

<p>T Levels will provide several progression options to students. These include skilled employment, an apprenticeship and higher education.</p>

<p>To help T Level students get into higher education, UCAS tariff points will be allocated to T Levels.</p>

<p>UCAS points will only be allocated to the overall T Level grade. Students must achieve at least an overall pass grade to receive UCAS points.</p>

<table>
  <thead>
    <tr>
      <th scope="col">UCAS tariff points</th>
      <th scope="col">T Level overall grade</th>
      <th scope="col">A level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>168</td>
      <td>Distinction* (A* on the core and distinction in the occupational specialism)</td>
      <td>A<em>A</em>A*</td>
    </tr>
    <tr>
      <td>144</td>
      <td>Distinction</td>
      <td>AAA</td>
    </tr>
    <tr>
      <td>120</td>
      <td>Merit</td>
      <td>BBB</td>
    </tr>
    <tr>
      <td>96</td>
      <td>Pass (C or above on the core)</td>
      <td>CCC</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Pass (D or E on the core)</td>
      <td>DDD</td>
    </tr>
  </tbody>
</table>

<h2 id="funding-and-support-for-providers">Funding and support for providers</h2>

<p>We recognise that significant additional funding will be needed for the successful introduction and delivery of T Levels.</p>

<p>We have already announced additional funding of £500 million a year, once T Levels are fully rolled out, to help providers meet the costs of additional teaching hours and organising industry placements.</p>

<p>Eligible providers will be able to apply for funding for up-to-date equipment and facilities. They will also be able to access training to help prepare their teachers and leaders.</p>

<p>We have now published how we intend to fund T Levels, visit <a href="https://www.gov.uk/guidance/t-levels-next-steps-for-providers" class="govuk-link">T Levels: next steps for providers</a> for more information.</p>

<h2 id="timeline">Timeline</h2>

<h3 id="september-2020">September 2020</h3>

<p>The first T Level courses start in these subject areas:</p>

<ul>
  <li>design, surveying and planning for construction</li>
  <li>digital production, design and development</li>
  <li>education and childcare</li>
</ul>

<h3 id="september-2021">September 2021</h3>

<p>T Level courses start in these subject areas:</p>

<ul>
  <li>building services engineering for construction</li>
  <li>digital business services</li>
  <li>digital support and services</li>
  <li>health</li>
  <li>healthcare science</li>
  <li>onsite construction</li>
  <li>science</li>
</ul>

<h3 id="september-2022">September 2022</h3>

<p>T Level courses start in these subject areas:</p>

<ul>
  <li>accounting</li>
  <li>design and development for engineering and manufacturing</li>
  <li>engineering, manufacturing, processing and control</li>
  <li>finance</li>
  <li>maintenance, installation and repair for engineering and manufacturing</li>
  <li>management and administration</li>
</ul>

<h3 id="september-2023">September 2023</h3>

<p>T Level courses start in these subject areas:</p>

<ul>
  <li>animal care and management</li>
  <li>agriculture, land management and production</li>
  <li>catering</li>
  <li>craft and design</li>
  <li>hair, beauty and aesthetics</li>
  <li>human resources</li>
  <li>legal</li>
  <li>media, broadcast and production</li>
</ul>

<h2 id="find-out-more">Find out more</h2>

<p>If you’re interested in finding out more, visit our <a rel="external" href="https://www.tlevels.gov.uk" class="govuk-link">T Levels website</a> where you can add your postcode to find colleges, schools or other providers who’ll be offering the first 3 T Levels in 2020.</p>

<p>Watch our <a rel="external" href="https://www.youtube.com/playlist?list=PL6gGtLyXoeq-rt4HRUDy_MY77BEH7r9Rc" class="govuk-link">industry placement videos</a> to hear from students and employers who have benefited from industry placements. 
Employers interested in finding out more about industry placements, can contact 0800 0150 600, email <a href="mailto:tlevel.placement@education.gov.uk" class="govuk-link">tlevel.placement@education.gov.uk</a> or visit the <a rel="external" href="https://www.tlevels.gov.uk/employers" class="govuk-link">employer section of the T Level website</a>.</p>

<p>Read the <a href="https://www.gov.uk/government/publications/t-level-action-plan" class="govuk-link">T Level action plan</a> for detailed information about how we’re developing the T Level qualifications for post-16 students.</p>

<p><a href="https://www.gov.uk/government/policies/further-education-and-training/email-signup" class="govuk-link">Get email updates when this page is updated</a>.</p>

</div>


</div>
</div>
  </div>

  <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled govuk-sticky-element--hidden">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

    <div class="govuk-sticky-element__print-link">
      
<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
    </div>
  </div>
</div>


{% endblock %}